<div class="border-bottom border-grey">
  <div class="row p-3 mt-0">
    <div class="col-1 align-text-middle fs-1 text-center">
      <div><b> {{d['id']}}</b></div>
    </div>
    <div class="col-10">
      <div class="fs-3 text-secondary"><b> {{d['name']}}</b></div>
      <div><b>Raza:</b> {{d['race']}}</div>
      <div><b>Género:</b> {{d['genre']}}</div>
      <div><b>Edad:</b> {{d['age']}}</div>
      <div>
        <b>Info: </b>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Exercitationem odio in provident aliquam perspiciatis ducimus sunt
        asperiores. Deserunt tempore delectus nisi, odit, molestiae ab corporis,
        ipsa soluta dignissimos unde architecto libero voluptatibus. Accusantium
        aspernatur eveniet itaque beatae, perferendis possimus cupiditate
        blanditiis veritatis ut maiores totam temporibus magni ipsam impedit vel
        repellat ullam laudantium modi explicabo. Dignissimos numquam eum quia
        esse velit distinctio incidunt sint minus itaque optio rem harum ea
        adipisci aspernatur dolorum id, recusandae saepe blanditiis expedita
        quisquam quod hic culpa architecto. Animi accusantium iste cupiditate
        saepe illo velit, inventore architecto sit maxime culpa dignissimos
        placeat ea, obcaecati ipsum!
      </div>
    </div>
    <div class="col-1 align-bottom">
      <button class="btn btn-dark">Adoptar</button>
    </div>
  </div>
</div>
