<div class="border-bottom border-grey">
  <div class="row p-3 mt-0">
    <div class="col-1 align-text-middle fs-1 text-center">
      <div><b> {{d['id']}}</b></div>
    </div>
    <div class="col-8">      
      <div class="fs-3 text-secondary"><b> {{d['name']}}</b></div>
      <div><b>Raza:</b> {{d['race']}}</div>
      <div><b>Género:</b> {{d['genre']}}</div>
      <div><b>Edad:</b> {{d['age']}}</div>
    </div>
    <div class="col-3 align-bottom"><button class="btn btn-dark">Adoptar</button></div>
  </div>
</div>
